.NavSpace {
    font-size: 110%;
    margin-right: 15px;
    margin-left: 15px;
  }
.SectionStyle {
    margin: 25px;
  }
.textsource {
      color: red;
      font-size: 80%;
  }
.videoText {
    color: blue;
    font-size: 120%;
    margin: 15px;
  }

.background-basecolor {
  color:"#F5F5DC"
}

span z {
    font-size: 70%;
  }
